<%- include('layouts/header.ejs') %>

<h2 class="mb-4">Hello <%=user.username%></h2>

<div class = "row">
    <div class="col-md-3">
        <h3>Connects</h3>
        <ul>
            <% connects.forEach(function(connect) { %>
                <li class ="user-list p-2 bg-zinc-500 text-white rounded-md border-2 border-zinc-700 cursor-pointer">
                    <img src="<%= 'http://127.0.0.1:9000/'+connect.image%>" alt="" width="50px" height="50px" class="inline-block rounded-full">
                    <%=connect.username%>
                </li>
            <% }) %>
        </ul>
    </div>
    <div class="col-md-9">
        <h3 class="start-head m-2">Click to start chat</h3>
        <div class="chat-section">
            <div class="chat-area m-2 p-2 rounded-md">
            </div>
            <form action="" class="chat-form">
                <input type="text" name="message" class="w-7/8 border-2 p-2 m-2 border-zinc-900 rounded-md" placeholder="Type a message">
                <input type="submit" value="Send" class="bg-blue-500 text-white pt-2 pb-2 pl-3 pr-3 m-2 rounded-md cursor-pointer">
            </form>
        </div>
    </div>
</div>

<script>
    let socket = io('/user', {
        auth : {
            token : '<%=user._id%>'
        }
    });

    
    const chatSection = document.querySelector('.chat-section');
    const chatForm = document.querySelector('.chat-form');
    const chatArea = document.querySelector('.chat-area');
    const connects = document.querySelectorAll('.user-list');
    const startHead = document.querySelector('.start-head');

    connects.forEach(function(connect) {
        connect.addEventListener('click', function() {
            startHead.style.display = 'none';
            chatSection.style.display = 'block';
        });
    });

    chatForm.addEventListener('submit', function(e) {
        e.preventDefault();
        const message = chatForm.message.value;
        chatForm.message.value = '';
        chatArea.innerHTML += `<p>You: ${message}</p>`;
    });
</script>

<%- include('layouts/footer.ejs') %>